/********* Base Styles *********/

* {
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
}

h1 {
	text-align: center;
}

p {
	border: 3px solid black;
	border-radius: 10px;
	position: relative;
}

span {
	font-weight: bold;
	font-size: 125%;
	border: 3px solid black;
	border-radius: 10px;
	text-align: center;
}

#JS_para{
	background-color: #03FA73;
}

#JS_para span {
	background-color: #02833C;
}

#python_para {
	background-color: #FFD206;
}

#python_para span {
	background-color: #B49400;
}

#ruby_para {
	background-color: #C53B3B;
}

#ruby_para span {
	background-color: #F57A7A;
}

section {
	clear: left;
}

/********* Desktop *********/
@media (min-width: 992px) {
	
	div {
		padding-left: 60px;
	}

	p {
		float: left;
	}

	#JS_para{
		width: 30%;
		margin-right: 30px;
	}

	#JS_para span {
		position: absolute;
		left: 140px;
		right: 0px;
	}

	#python_para{
		width: 30%;
		margin-right: 30px;
	}

	#python_para span{
		position: absolute;
		left: 180px;
		right: 0px;
	}

	#ruby_para {
		width: 30%
	}

	#ruby_para span {
		position: absolute;
		left: 210px;
		right: 0px;
	}
}

/********* Tablet *********/
@media (min-width: 768px) and (max-width: 991px) {
	
	div {
		padding-left: 60px;
	}

	p {
		float: left;
	}

	#JS_para{
		width: 45%;
		margin-right: 30px;
	}

	#JS_para span {
		position: absolute;
		left: 180px;
		right: 0px;
	}

	#python_para{
		width: 45%;
	}

	#python_para span {
		position: absolute;
		left: 220px;
		right: 0px;
	}

	#ruby_para {
		width: 95%;
		margin-top: 10px;
	}	

	#ruby_para span {
		position: absolute;
		left: 580px;
		right: 0px;
	}
}

/********* Mobile *********/
@media (max-width: 767px) {
	
	p {
		margin-left: 60px;
		margin-right: 60px;
		margin-bottom: 30px;
	}

	#JS_para span {
		position: absolute;
		left: 100px;
		right: 0px;
	}

	#python_para span {
		position: absolute;
		left: 150px;
		right: 0px;
	}

	#ruby_para span {
		position: absolute;
		left: 170px;
		right: 0px;
	}

}